### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
**/migrations/**
**/migrations/0001_initial.py
!**/migrations
!**/migrations/__init__.py
test_media/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coveragerc
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log
pytest.ini
# Environments
.env
*/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode
#Javascript
node_modules/
src/

# mac specific
.DS_Store
.DS_Store?