appdirs==1.4.4
asgiref==3.2.10
distlib==0.3.1
Django==3.1.1
django-appconf==1.0.4
django-bootstrap-form==3.4
django-braces==1.14.0
django-model-utils==4.0.0
django-private-chat==0.3.0
filelock==3.0.12
flake8==3.8.3
mccabe==0.6.1
packaging==20.4
Pillow==7.2.0
pluggy==0.13.1
psycopg2==2.8.5
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.2
tox==3.20.1
virtualenv==20.1.0
websockets==8.1
