{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mx-auto px-5 mt-40">
    <p class="text-3xl text-black mb-2 ">Pourquoi TradeCycle ?</p>
    <p>Nous avons crée TradeCycle pour que les gens qui disposent de déchets recyclables et utiles puissent communiquer et échanger les produits dont ils disposent.
        Ceci permet d'éviter de jetter des matières utiles pour les réinserer dans le cycle de production et le rendre encore plus efficace.
        En utilisant TradeCycle vous contribuez a une économie plus responsable et êtes conscient des enjeux environnementaux modernes.
        Découvrez comment participer avec quelques examples d'utilisation dans notre rubrique 
        <a class="rounded-md text-green-700 hover:font-bold" href="/utilisations/">Usages</a>
    </p>
</div>
<div class="container mx-auto px-5 my-40">
    <p class="text-3xl text-black mb-4 ">L'économie bleue en trois parties</p>
    <p class="text-2xl text-blue-700 text-center my-3">L'Economie bleue</p>
    L'économie bleue est la philosophie Zeri en action. C'est quand le meilleur pour la santé et l'environnement est le moins cher et les premières neécessités sont gratuites grâce a un système de production local et de consomation qui marche avec ce qui est disponible.
    <p class="text-2xl text-blue-700 text-center my-3">Business Models Innovants</p>
    Les Business Models innovants sont capable d'apporter des produits et des services competitif au marché en répondant a des besoins basiques tout en construisant un capital social et en améliorant la vie consciente en harmonie avec le chemin évolutif de la nature.
    <p class="text-2xl text-blue-700 text-center my-3">Competitivité</p>
    La Competitivité est d'exploiter et d'optimiser les vertus et les valeurs qui relient le potentiel local inexploité - comme un système naturel, où les graines ne sont en jachère que pour germer avec une vigueur étonnante à la première pluie, 
    libérant joie et bonheur alors que les conditions pour vivre consciament sont réunies dans l'équilibre et l'harmonie.
    <p class="text-sm mt-4">définition provenant de <a class="hover:text-black" href="https://www.theblueeconomy.org/principles.html">www.theblueeconomy.org</a></p>
</div>

{% endblock %}