{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container mx-auto px-5 mt-20">
                <div class="my-5">
                    <div class="text-center font-bold text-black text-3xl m-5">
                        <h1>Mentions Légales</h1>
                        <hr class="divider my-4">
                    </div>
                    <div class="text-center m-4 text-xl text-gray-800">
                        <h3>Mentions légales regardant le présent site web et autres informations</h3>
                    </div>
                </div>
                <div class="my-5">
                    <div class="text-left m-4 text-lg">
                        <p>Édition du Site Web :</p>
                    </div>
                    <div class="text-left ml-5 pl-5">
                        <p>Le site internet www.tradecycle.com est la propriété de la société : Tradecycle SAS</p>
                        <ul>
                            <li>Créateur et Webmaster : Wissam Shalby</li>
                            <li>Hébergeur du site : SCALEWAY SAS BP 438 75366 PARIS CEDEX 08 FRANCE</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}