{% extends 'base.html' %}
{% load static %}
{% block content %}
<p class="container mx-auto text-center text-xl text-gray-700 my-20 px-8">Envoyer un message à {{ object.user_id }}
</p>
<div class="container mx-auto my-20 border-transparent shadow-xl border-2 rounded-lg">
    <p class="text-lg px-8 py-2 text-gray-700">Pour l'annonce : {{ object.title }}</p>
    <form method="post" action="/send-message/{{object.id}}" class="my-auto py-4 px-8 md:h-auto">{% csrf_token %}
        {{ form.as_p }}
        <input class="bg-green-600 hover:bg-green-700 text-white mt-2 py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Envoyer">
    </form>
</div>
{% endblock %}